@import "tailwindcss";

body,html {
    @apply h-full w-full;
}

.chat-messagebox {
    @apply absolute bottom-0 left-0;
    @apply h-12 w-full;
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.userimage {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
}

.chat-messagebox form {
    @apply absolute top-0 left-0;
    @apply h-full w-full;
    @apply flex flex-row;
    @apply items-center;
    @apply justify-start;
}

#message {
    @apply grow;
    @apply h-9/12;
    @apply p-1;
    @apply rounded-lg;
    @apply transition;
    color: black;
    background-color: transparent;
    outline: 0;
    border: none;
}

#message:focus {
    background-color: rgba(0, 0, 0, 0.15);
}

.sendIcon {
    @apply w-10 h-10 p-2;
    @apply hover:bg-black/10 dark:hover:bg-white/10;
    @apply rounded-lg;
    @apply transition;
}

.chat-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    @apply h-16;
    @apply pl-16 lg:pl-0.5;
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    z-index: 1;
}

.chat-content {
    @apply top-0 right-0 absolute;
    @apply w-full h-full;
    @apply overflow-y-auto;
    @apply pt-16 pb-16;
    @apply gap-4;
    @apply flex flex-col-reverse;
}

.chat {
    @apply absolute top-0 right-0;
    @apply w-full lg:w-3/4 h-full;
}

.msg {
    width: auto;
    height: auto;
    display: flex;

}

.msg-content {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
}

.msg .pfp {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.msg-image {
    max-width: 20vw;
}

.msg-username {
    color: rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 1300px) {
    .msg-self {
        align-self: flex-end;
        flex-direction: row-reverse;
    }
}

.msg-date {
    color: rgba(0, 0, 0, 0.35);
}



@media (prefers-color-scheme: dark) {
    .chat-messagebox {
        background-color: rgba(36, 36, 36, 0.8);
        color: white;
    }

    .chat-header {
        background-color: rgba(36, 36, 36, 0.8);
        color: white;
    }

    .chat-content {
        background-color: rgba(36, 36, 36, 0.4);
        color: white;
    }

    #message {
        color: white;
    }

    #message:focus {
        background-color: rgba(255, 255, 255, 0.15);
    }

    .msg-content {
        background-color: rgb(36, 36, 36);
        color: white;
    }

    .msg-username {
        color: rgba(255, 255, 255, 0.35);
    }

    .msg-date {
        color: rgba(255, 255, 255, 0.35);
    }
}