@import "tailwindcss";

.sidebar-settings-item {
    width: calc(100% - 1rem);
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    transition: 200ms;
}

.sidebar-settings-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.settings-content {
    @apply flex fixed top-0 left-0 flex-col lg:left-1/4;
    @apply w-full h-full lg:w-3/4;
    @apply items-center;
    @apply overflow-y-auto;
    @apply p-8;
}

.settings-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(205, 205, 205);
    border-radius: 15px;
    padding: 1rem;
    gap: 1rem;
    @apply w-2/3;
}

.settings-pfp {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    align-self: center;
}

.selected {
    background-color: rgba(0, 0, 0, 0.2);
}

.settings-btn {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
    height: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.settings-section input {
    border: none;
    border-radius: 0.5rem;
    min-height: 2.5rem;
}

.settings-section textarea {
    border-radius: 0.5rem;
    resize: none;
}

.input {
    @apply bg-zinc-100 text-zinc-600 dark:bg-zinc-600 dark:text-zinc-100;
    @apply w-full;
    @apply p-3;
}

@media (prefers-color-scheme: dark) {
    .sidebar-settings-item:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .settings-content {
        background-color: rgb(36, 36, 36);
    }

    .settings-section {
        background-color: rgb(63, 63, 63);
        color: white;
    }

    .selected {
        background-color: rgba(255, 255, 255, 0.2);
    }
}