.user {
    display: flex;
    width: calc(100% - 2rem);
    height: 4rem;
    flex-direction: row;
    justify-content: start;
    justify-items: start;
    align-items: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.user img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

@media (prefers-color-scheme: dark) {
    .user {
        background-color: rgba(255, 255, 255, 0.2);
    }
}