.user {
    display: flex;
    width: calc(100% - 2rem);
    height: 4rem;
    flex-direction: row;
    justify-content: start;
    justify-items: start;
    align-items: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
    user-select: none;
}

.user img {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
